<mat-toolbar class="header mat-elevation-z4">
  <a routerLink="/">
    <img class="logo" src="https://static.vecteezy.com/ti/vetor-gratis/p1/17430753-icone-do-filme-em-estilo-simples-ilustracaoial-de-filme-em-fundo-redondo-preto-com-efeito-de-sombra-longa-reproduzir-conceito-de-negocio-de-botao-de-circulo-de-video-vetor.jpg" alt="logo" width="100px" >
  </a>



  <span class="title-group">
    <a routerLink="/">
      <i class="material-icons">theaters</i>
      <h1 class="title">Films Marketplace</h1>
    </a>
  </span>
</mat-toolbar>
