.nav-container {
  background-color: #202020;
}

.sidenav {
  background-color: #202020;
  position: fixed;
}

.mat-nav-button {

  color: #202020;
  border: none;
  border-radius: 4px;

}

.sidenav .mat-list {
  color: #f2f2f2;

}

.sidenav .mat-list {
  color: #f2f2f2;
  font-size: 8px;

}

.sidenav .mat-list a p {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  font-size: 8px;
}

.sidenav .mat-list a p i {
  padding-right: 3px;
}

.content {
  padding: 5px;
  background-color: #f2f2f2;
  height: 750;

}

