<mat-card class="home mat-elevation-z2">
  <mat-card-title class="title">Welome to the project</mat-card-title>
  <mat-card-content class="mat-card-content">
    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/17430753-icone-do-filme-em-estilo-simples-ilustracaoial-de-filme-em-fundo-redondo-preto-com-efeito-de-sombra-longa-reproduzir-conceito-de-negocio-de-botao-de-circulo-de-video-vetor.jpg" alt="logo" class="logo">
    <p>This project is a film marketplace created with Angular Framework.</p>
  </mat-card-content>
</mat-card>

