.mat-card-container {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
}
h2 {
  padding-left: 10px;
  height: 30px;
}

h3 {
  padding-left: 10px;
  padding-bottom: 10px;
}

.card-film {
  width: 410px;
  height: 100%;
  margin: 0 15px 15px 0;

}

.card-content {
  text-align: center;
  padding: 10px;
}

.card-content img {
  width: 250px;
  opacity: .8;
  transition: .2s;
  border-radius: 5px;
}
.card-content img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.card-description {
  color: grey;
  font-size: 12px;
}
span {
  text-align: right;
  padding: 10px;
  color: grey;
  font-size: 12px;
}
app-card-film{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
